<div class="container">

  <div class="box">

    <h1>Emergency Medical Triage Support System</h1>

    <p>
      An intelligent system designed to support emergency operators
      in assessing the urgency of medical cases based on symptoms,
      rule-based reasoning, and real-time event analysis.
    </p>

    <p class="sub">
      The system helps prioritize patients and improve decision-making
      in high-pressure emergency situations.
    </p>

    <button routerLink="/new-patient">
      Enter System
    </button>

  </div>

</div>